style.css

body {
	 font-family: 'Open+Sans';
}

#slogan

background
background-color
color
font-size
font-style
font-weight
text-align
text-decoration
text-transform

h1 {
	font-family: 'Open Sans';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;