style.css

@import url(https://fonts.google.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700,400italic,700italic);

body {
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Open Sans', sans-serif; 
}
h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 60px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}


#slogan {
	font-style: italic;
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 15px;
}


